<p id="notice">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</p>
<div class="container">
  <dic class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model: @books do |f| %>
        <div class="form-group">
          <label for="book_title">Title</label><br />
          <%= f.text_field:title %>
        </div>
        <div class="form_group">
          <label for="book_body">Opinion</label><br />
          <%= f.text_field:body %>
        </div>
        <div class="form_group"><br />
          <%= f.submit "Update Book", class: "btn btn-success" %>
        </div>
      <% end %><br />
      <%= link_to "Show",book_path(current_user.id) %>
      |
      <%= link_to "Back",book_url %>
    </div>
  </dic>
</div>